@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.tabuleiro {
    width: 640px;
    height: 640px;
    margin: 25px;
    border: 25px solid rgb(44, 38, 38);
    left: 25%;
    position: absolute;
}

.white {
    width: 80px;
    height: 80px;
    float: left;
    background-color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}

.black {
    width: 80px;
    height: 80px;
    float: left;
    background-color: gray;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}

footer>h1 {
    position: absolute;
    top: 90%;
    left: 40%;
    color: rgb(248, 27, 27);
    font-family: 'Raleway', sans-serif;
}